.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		// p &copy;&nbsp;
		// 	a(href='#') Jason Neylon
		// 	|  2017

// link(rel='stylesheet', href='/css/style.css')
// script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/scripts/bootstrap.min.js')

block footer
