nav.navbar.navbar-inverse.fixed-top.bg-inverse(role='navigation')
	div.container
		div.navbar-header
			a.navbar-brand(href="#")
				| Beer Miles
		// div.collapse.navbar-collapse
		// 	ul.nav.navbar-nav
		// 		li.active
		// 			a(href="#") Home
		// 		li
		// 			a(href="#about") About
		// 		li
		// 			a(href="#contact") Contact
