extends layout

block content
  div.container
    div.jumbotron
      h2.display-4 How far has your beer travelled?      
      p.lead 
        span The distance the beer you drink is transported makes a significant difference to its carbon emissions. Signin with Untappd for an analysis of your recent beer checkins.
      p
        img(src="https://media.giphy.com/media/RT3LopbJ7ckRG/giphy.gif")
      hr.my-4
      p.lead
        a.btn.btn-primary.btn-lg(href="https://beermiles.herokuapp.com/miles/66a8735cc6e4ddd1171b8003ba8924a76c42c3f656efdb1f3adfcbeadb4b73536ad01fc2ac02f48a") Signin with Untappd to find out!
