doctype htmProgram Namel
html
	head
		block head
			block title
				title Beer miles
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
			script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
			script(src="https://d3js.org/d3.v3.min.js")
			script(src="https://d3js.org/topojson.v1.min.js")
			script(src="https://datamaps.github.io/scripts/datamaps.world.min.js?v=1")
	body
		include header

		block content

		include footer
