extends layout

block content
  script
    |  //basic map config with custom fills, mercator projection
    |  var map = new Datamap({
    |    scope: 'world',
    |    element: document.getElementById('container1'),
    |    projection: 'mercator',
    |    height: 500,
    |    fills: {
    |      defaultFill: '#f0af0a',
    |      lt50: 'rgba(0,244,244,0.9)',
    |      gt50: 'red'
    |    },
    |    
    |  })
    |  
    |  
    |  //sample of the arc plugin
    |  map.arc([
    |   {
    |    origin: {
    |        latitude: 49.274,
    |        longitude: -123.02
    |    },
    |    destination: {
    |        latitude: 52.52,
    |        longitude: 13.40
    |    }
    |  },
    |  {
    |      origin: {
    |        latitude: 53.65,
    |          longitude: -1.787
    |      },
    |    destination: {
    |        latitude: 52.52,
    |        longitude: 13.40
    |    }
    |  }
    |  ], {strokeWidth: 2}); 
  div.container
    section.center-block(style="margin-bottom: 100px")
      div.text-center
        h3 On average a beer travels:
        h1 #{average}km
        h3 to get to to you
        h6 An easy way to reduce the environmental impact of your beer drinking is to drink beer brewed locally!
    
    section.center-block(style="margin-bottom: 100px")
      div.text-center
        h3 Keep visiting your local brewery!
        div
          for b in hyperLocalBeers
            img.img-thumbnail.rounded.ml-1(src='#{b.beerLabel}')
            // span #{b.brewery} #{b.beerName}
        h6 When you drink beer at the source it only has to travel a few meters to get to you. This completely avoids the substancial carbon emissions of transporting the beer.
    
    section.center-block(style="margin-bottom: 100px")
      div.text-center
        h3 You like tasty American and European Craft beer too 
        h2 #{farBeer.brewery} #{farBeer.beerName} travelled
        img.img-thumbnail.rounded.ml-1(src='#{farBeer.beerLabel}')
        h2 #{parseInt(farBeer.distance, 10).toLocaleString()}km
        h3 to get to to you
        div(id="container1" style="position: relative; width: 80%; max-height: 450px;")
        h6 Beer that travels long distance such as these ones can have 2 to 3 times the carbon emissions of local beers.  
        div.text-center
          for b in farAwayBeers
            img.img-thumbnail.rounded.ml-1(src='#{b.beerLabel}')
            // span #{b.brewery} #{b.beerName} (#{b.distance})

    section.center-block(style="margin-bottom: 100px")
      div.text-center
        h3 Why not check if your local brewery has a similar beer?
        a.btn.btn-primary.btn-lg(href="https://untappd.com/search?q=berlin&type=brewery&sort=") Search on Untappd
